# DJANGO
DEBUG=True
SECRET_KEY=your-secret-key-here
INTERNAL_IPS=127.0.0.1
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=spotifyBack.settings
DOMAIN=localhost:8000

## JWT
AUTH_COOKIE_SECURE=False
SIGNING_KEY=your-signing-key-here 